/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Portfolio.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.Portfolio_box__ax_Em {
  position: relative;
  transform-style: preserve-3d;
}

.Portfolio_box__ax_Em::before {
  content: "";
  position: absolute;
  inset: -1px;
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  filter: blur(4px);
  transform: translate3d(0px,-2px,-1px);
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Portfolio_box__ax_Em:hover::before {
  opacity: 1;
} 
